// Mixins Here

.button {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  background-color: #22283A;
  color: white;
  height: 15%;
  width: 50%;
  border-radius: 12px;
}
